.cach-section
  $size-stripe: 1rem
  $size-bevel: 24rem
  $padding-vertical: 36rem
  $padding-vertical-desktop: 24rem

  color: $color-base
  margin: 0
  padding-top: $space-deca + $space-header-height
  min-height: 90vh
  padding-bottom: $padding-vertical
  padding-top: $padding-vertical
  +media-mediumup
    padding-bottom: $padding-vertical-desktop
    padding-top: $padding-vertical-desktop
    
  &:first-child
    padding-top: 0
    padding-bottom: 0
    max-height: 90vh
    background-size: 999vh

  &:last-child
    min-height: 100vh
    padding-bottom: $space-hecto

  > .container 
    @extend %container

    > .title
      font-weight: 400
      font-style: italic

  &.-home
    background-color: #fff
  &.-oque
    $color-bg: $color-highlight
    $color-stripe: $color-base
    background: linear-gradient(135deg, transparent $size-bevel, $color-stripe $size-bevel, $color-stripe calc(#{$size-bevel} + #{$size-stripe}), $color-bg calc(#{$size-bevel} + #{$size-stripe}), $color-bg)
  &.-como
    $color-bg: #fff
    $color-stripe: $color-base
    background: linear-gradient(135deg, transparent $size-bevel, $color-stripe $size-bevel, $color-stripe calc(#{$size-bevel} + #{$size-stripe}), $color-bg calc(#{$size-bevel} + #{$size-stripe}), $color-bg)
  &.-quem
    $color-bg: $color-base
    $color-stripe: #fff
    background: linear-gradient(135deg, transparent $size-bevel, $color-stripe $size-bevel, $color-stripe calc(#{$size-bevel} + #{$size-stripe}), $color-bg calc(#{$size-bevel} + #{$size-stripe}), $color-bg)
    color: #fff
  &.-contato
    $color-bg: #fff
    $color-stripe: $color-highlight
    background: linear-gradient(135deg, transparent $size-bevel, $color-stripe $size-bevel, $color-stripe calc(#{$size-bevel} + #{$size-stripe}), $color-bg calc(#{$size-bevel} + #{$size-stripe}), $color-bg)
