.cach-button
  $size-bg: 5
  $color-main: $color-base
  $color-hover: $color-highlight
  $color-bg: #fff

  display: inline-block
  text-align: center
  margin: 4rem
  padding: 1rem 2rem
  background: linear-gradient(135deg, transparent calc(1% * #{$size-bg}), $color-main calc(1% * #{$size-bg}))
  position: relative
  transition: background-size 0.3s ease, color 0.15s ease
  background-size: 100%
  background-repeat: no-repeat
  color: $color-main
  box-shadow: 4px 4px 4px rgba(#000, 0.2)
  z-index: 40

  &::after
    content: ''
    position: absolute
    top: 1px
    bottom: 1px
    right: 1px
    left: 1px
    background: linear-gradient(135deg, transparent calc(2% * #{$size-bg}), $color-bg calc(2% * #{$size-bg}))
    z-index: -10
    background-size: 100%
    transition: background-size 0.15s ease
  
  &::before
    content: ''
    position: absolute
    top: 1px
    bottom: 1px
    right: 1px
    left: 1px
    background: linear-gradient(135deg, transparent calc(1% * #{$size-bg}), $color-hover calc(1% * #{$size-bg}))
    z-index: -20
    transition: background-size 0.15s ease

  &:hover,
  &:active
    &::after
      background-size: calc(6000% / #{$size-bg})

  &:active
    color: $color-bg
    &::before
      background-size: calc(12000% / #{$size-bg})
