.cach-header
  $height: $space-header-height
  background-color: $color-base
  height: $height
  position: fixed
  top: 0
  left: 0
  right: 0
  display: flex
  justify-content: center

  > .container
    @extend %container
    display: flex
    justify-content: space-between
    align-items: center

    > *
      margin-top: 0

    +media-mediumup
      > .toggle-menu
        display: none

    +media-mediumdown
      > .navigation-menu
        display: none
