.navigation-menu
  display: flex

  > a
    font-weight: 400
    color: #fff
    background: none
    transition: color 0.3s ease

    &.-active
      font-weight: 700
      color: $color-highlight
      line-height: 0.9

    &:hover
      color: $color-highlight
      +underline(0px, 1px, $color-highlight)
      +underline-cut($color-base)

  +media-mediumup
    > a
      margin: 0
      margin-left: 2rem
      line-height: 1
  
  +media-mediumdown
    flex-direction: column
    align-items: center
    justify-content: center
    height: 0
    overflow-y: hidden
    z-index: -10
    position: fixed
    top: 0
    left: 0
    width: 100vw
    background-color: $color-base
    transition: color 0.3s ease, height 0.4s ease
    > a
      opacity: 0
      transition: opacity 0.4s ease
      padding-top: 1rem
      padding-bottom: 1rem
      font-size: $font-size-deca
      text-align: center

      &:hover
        +underline(calc(1rem + 2px), 2px, $color-highlight)

    &.-open
      height: 100vh
      > a
        opacity: 1
