%container
  width: calc(40% + 16rem)
  margin-right: auto
  margin-left: auto
  +media-mediumdown
    max-width: calc(100% - 3rem)
  +media-mediumup
    max-width: 64rem

=container-half
  width: calc(20% + 8rem)
  margin-right: auto
  margin-left: auto
  +media-mediumdown
    max-width: calc(50% - 1.5rem)
  +media-mediumup
    max-width: 32rem

=underline($offset: 0px, $width: 1px, $color: currentcolor)
  background: linear-gradient($color, $color)
  background-size: $width $width
  background-repeat: repeat-x
  background-position: 100% calc(100% - #{$offset})

=underline-cut($color: #fff)
  text-shadow: 0.1em 0 0 $color, 0.15em 0 0 $color, -0.1em 0 0 $color, -0.15em 0 0 $color