%container
  width: calc(50% + 16rem)
  max-width: calc(100% - 3rem)
  margin-right: auto
  margin-left: auto

=underline($offset: 0px, $width: 1px)
  background: linear-gradient(currentcolor, currentcolor)
  background-size: $width $width
  background-repeat: repeat-x
  background-position: 100% calc(100% - #{$offset})
