nav.navigation-menu
  a(href="#a") Logo
  a(href="#b") Quem somos
  a(href="#c") O que fazemos
  a(href="#d") Outra coisa
  a(href="#e") Contato

main

  section#a
    p Primeira seção

  section#b
    h1 Quem somos
    p Segunda seção

  section#c
    h1 O que fazemos
    p Terceira seção

  section#d
    h1 Outra coisa
    p Quarta seção

  section#e
    h1 Contato
    p Quinta seção
    input(type="text")
    textarea
