html

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    title Cachalotes
    meta name="description" content=""
    meta name="author" content=""
    meta name="keywords" content=""
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="referrer" content="origin"
    link rel="icon" type="image/png" href="./images/favicon.png"

    link href="./style/style.css" rel="stylesheet" type='text/css'

  body.form-elements

    main
      
      button.cach-button type="submit" enviar

      hr
      
      input.cach-input type="email" name="email" placeholder="Input de texto"

      hr

      select.cach-select
        option Select
        option Opção 2
        option Opção 3
      p O select ainda não tá pronto! :/

      hr

      .cach-radio
        input id="rb1" type="radio"
        label for="rb1"

      hr

      .cach-checkbox
        input id="cb1" type="checkbox"
        label for="cb1"
